# -*- coding: utf-8 -*-
# vim: ft=jinja

# Start with defaults, merge osmapping, then pillars.

{% import_yaml 'webstorm/defaults.yaml' as defs %}
{% set osmap = salt['grains.filter_by']({
        'default':{
        },

        'MacOS':  { 'prefix' : '/Applications/WebStorm',
                    'homes'  : '/Users',
                    'command': '/webstorm',
                    'osflavour': 'mac',
        },
        'Windows':{ 'prefix' : 'C:\\Program files',
                    'homes'  : 'C:\\Users',
                    'tmpdir' : 'C:\\temp\\jetbrainstmp\\',
                    'command': '\\webstorm.exe',
                    'osflavour': 'windows',
        },
  }, grain="os",
) %}
{% do defs.webstorm.update(osmap) %}
{% set ide = salt['pillar.get']( 'webstorm', default=defs.webstorm, merge=True) %}

# Get user's group name from pillar or 'id' command
{%- if not ide.prefs.group %}
  {%- set usergroup = salt['cmd.run']('id -gn', runas=ide.prefs.user, output_loglevel='quiet',) or None %}
  {%- do ide.prefs.update({'group': usergroup,}) %}
{% endif %}

# Get dynamic release metadata
{%- set pcode = pcode ~ ide.jetbrains.edition %}
{% if grains.os == 'MacOS' or ide.jetbrains.edition in ('None',) %}
   {%- set pcode = ide.jetbrains.product %}
{% endif %}
{%- set jdata = salt['cmd.run']('curl {0} {1}{2}'.format(ide.dl.opts, ide.jetbrains.uri, pcode))|load_yaml %}

# Extract download details
{% set _home = '{0}/webstorm-{1}'.format( ide.prefix, jdata[ pcode ][0]['version']) %}
{% if grains.os == 'MacOS' %}
  {% set _home = '{0} {1}.app/Contents/MacOS'.format(ide.prefix, jdata[ pcode ][0]['majorVersion']) %}
{% elif ide.jetbrains.edition %} 
  {% set _home = '{0}/webstorm-{1}-{2}'.format( ide.prefix, ide.jetbrains.edition, jdata[ pcode ][0]['version']) %}
{% endif %}
{%- set src_hashurl = jdata[ pcode ][0]['downloads'][ ide.osflavour ]['checksumLink'] %}
{%- set src_hashsum  = salt['cmd.run']('curl -s {0}'.format( src_hashurl )).split(' ')[0] %}

# Update dynamic parameters
{% do ide.jetbrains.update({ 'realhome': _home, 'realcmd': _home ~ ide.command },) %}
{% do ide.dl.update({
       'source_url'  : jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'],
       'archive_name': jdata[ pcode ][0]['downloads'][ ide.osflavour ]['link'].split('/') | last ,
       'src_hashurl' : src_hashurl,
       'src_hashsum' : src_hashsum,
       'unpack_opts' : ' -z -C ' ~  _home ~ ' --strip-components=1' },
) %}
{% set webstorm = ide %}

